body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

#anorlondo {
    width: 100vw;
    margin: 0 auto;
}

#div1 {
    color: purple;
    text-shadow: 0px 2px 3px red;
}