/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* General Body & HTML Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body,
html {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(-135deg, rgb(9, 0, 135) 25%, rgb(147, 64, 255) 100%);
  overflow-x: hidden;
  overflow-y: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Theme Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Default Theme */
.default-theme body,
.default-theme html {
  background: linear-gradient(-135deg, rgb(9, 0, 135) 25%, rgb(147, 64, 255) 100%);
  color: white;
}

.default-theme #infinitusImage {
  content: url('imgs/infinitus.png');
}

.default-theme .gd-heading {
  color: rgb(105, 109, 226);
}

/* Second Theme */
.second-theme body,
.second-theme html {
  background: linear-gradient(-135deg, rgb(9, 0, 135) 25%, rgb(147, 64, 255) 100%);
  color: #000000;
}

.second-theme .gd-heading {
  color: rgb(105, 109, 226);
}

.second-theme .content-heading {
  color: black;
}

.second-theme .metadata-item {
  background-color: rgb(241, 241, 241);
  border: 0px;
}

.second-theme #main-content2 {
  background-color: rgb(255, 255, 255);
}

.second-theme .about-card,
.second-theme .blog-card,
.second-theme .project-card,
.second-theme .fe-card,
.second-theme .gd-card,
.second-theme .md-card,
.second-theme .be-card,
.second-theme .contact-card {
  background-color: rgb(255, 255, 255);
  color: black;
}

.second-theme .form-group {
  color: black;
}

.second-theme .footer-bottom {
  color: white;
}

.second-theme .btn-shared {
  border: 2px solid rgb(255 255 255 / 20%);
  transition: color 0s;
}

.second-theme .btn-shared:hover {
  background-color: #161616c9;
  border: 2px solid rgb(255 255 255 / 20%);
}

.second-theme #infinitusImage {
  content: url('imgs/infinitus-bw.png');
}

.second-theme .toggle-btn,
.second-theme .collapse-btn {
  color: rgb(65, 108, 226);
  transition: color 0s;
}

.second-theme #uni:visited:hover {
  color: rgb(46, 168, 238);
}

.second-theme .toggle-btn:hover,
.second-theme .collapse-btn:hover {
  color: #000000c9;
}

.second-theme .lightbox .close {
  top: 60px;
  right: 20px;
}

/* Third Theme */
.third-theme body,
.third-theme html {
  background-image: linear-gradient(-135deg, rgb(56, 239, 125) 0%, rgb(28, 187, 118) 50%, rgb(11, 153, 90) 100%);
  color: #fff;
}

.third-theme #navbar {
  background-image: linear-gradient(-135deg, rgba(56, 239, 125, 0.2) 25%, rgba(11, 153, 90, 0.2) 100%);
}

.third-theme .btn-social {
  background-color: #0b9960;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Navbar Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#navbar {
  background: linear-gradient(-135deg, rgba(0, 42, 135, 0.8) 25%, rgba(120, 46, 218, 0.8) 100%);
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  animation-name: fadeInUp;
  animation-duration: .5s;
  animation-iteration-count: 1;
  backdrop-filter: blur(16px) saturate(150%);
  border-bottom: 1px solid rgb(255 255 255 / 18%);
}

.navbar-toggler {
  display: none;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.nav-right {
  display: flex;
  align-items: center;
}

.menu-overlay {
  position: fixed;
  top: 69px; 
  left: 0;
  width: 100%;
  height: 0; 
  background-color: rgba(17, 21, 37, 0.9);
  backdrop-filter: blur(8px);
  overflow: hidden;
  transition: height 0.5s ease; 
  z-index: 900;
}

.menu-heading-text {
  color: white;
  font-size: 16px;
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 0;
}


.menu-overlay.open {
  height: 100vh; 
}

.menu-section {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.menu-items {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin: 10px 20px;
}

.mobile-logo {
  opacity: 0%;
}

.menu-items li a {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  color: white;
  font-size: 1.17em;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(255 255 255 / 15%);
}

.menu-items li:nth-child(odd) a {
  background-color: rgba(255, 255, 255, 0.031);
}

.menu-items li:nth-child(even) a {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-items li a:hover {
  background-color: rgba(120, 46, 218, 0.2);
}

.menu-items li a i {
  margin-right: 10px;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
}

.menu-section-internal {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  padding: 5px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}


#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar .container-fluid {
  display: flex;
  justify-content: center;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
}

#navbar li:hover {
  box-shadow: inset 0 -2px 0 0 white;
  color: #101d66;
}

#nav-links {
  display: none;
}

#drop-Menu {
  background-color: rgba(18, 21, 38, 0.26);
  border-radius: 18px;
  margin-left: -65px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px) saturate(150%);
}

.dropdown-item {
  display: flex;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.137);
  border-radius: 18px;
}

.dropdown-item i {
  margin-right: 10px;
  font-size: 16px;
}


.settings-card {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 250px;
  background-color: rgba(18, 21, 38, 0.9);
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-out;
  z-index: 110;
}

.settings-card.show {
  right: 0;
}

.dropdown-menu-custom {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 220px;
  top: 115%;
  right: -6px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  visibility: hidden;
  z-index: 1050;
}

.nav-item.dropdown.show .dropdown-menu-custom {
  transform: translateX(0);
  opacity: 1;
  
  visibility: visible;
}

.dropdown-item {
  display: flex;
  color: white;
  transition: background-color 0.3s ease;
}

.dropdown-item i {
  margin-right: 10px;
}


#toggleParticles:hover,
#toggleWaves:hover,
#drop-Item:hover {
  background-color: rgba(7, 205, 255, 0.832);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Button Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn-github {
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
  background: linear-gradient(-135deg, rgb(83, 5, 155) 25%, rgba(118, 0, 253, 0.966) 100%);
  box-shadow: rgba(100, 0, 231, 0.4) 0 10px 32px 0;
}

.btn-github:hover {
  text-decoration: none;
  color: rgb(145, 143, 143);
}

#nameInput, #incomeInput {
  width: 36.6%;
  height: 40px;
  background-color: #f3eeee;
  color: black;
  border-radius: 8px;
  border: 1px solid lightgray;
}

#dateOfBirth {
  height: 40px;
  background-color: #f3eeee;
  border: 1px solid lightgray;
  border-radius: 8px;
}

#dateOfBirth:hover {
  background-color: #dad6d6;
}

#addPersonBtn {
  border-radius: 50px;
  height: 40px;
  width: 120px;
  background: linear-gradient(-135deg, rgb(73, 164, 255) 25%, rgb(0, 116, 231) 100%);
  box-shadow: rgba(0, 116, 231, 0.4) 0 10px 32px 0;
  color: white;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

#addPersonBtn:hover,
#sortByIncome:hover,
#sortByDOB:hover,
.btn-process:hover {
  background: linear-gradient(-135deg, rgb(46, 204, 113) 25%, rgb(26, 188, 156) 100%);
  box-shadow: rgba(46, 204, 113, 0.4) 0 10px 32px 0;
  border: 2px solid rgb(255 255 255 / 20%);
  color: white;
  text-decoration: none;
}

#sortByIncome,
#sortByDOB {
  border-radius: 50px;
  height: 40px;
  width: 50%;
  background: linear-gradient(-135deg, rgb(73, 164, 255) 25%, rgb(0, 116, 231) 100%);
  box-shadow: rgba(0, 116, 231, 0.4) 0 10px 32px 0;
  color: white;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

#pl {
  color: rgb(141, 140, 140);
}

#settings-button,
#navbar-toggler {
  border: 0;
}

#main-content {
  margin-top: 300px;
  text-align: center;
  color: white;
}

#sortByIncome, #sortByDOB {
  width: 47.7%;
  margin: 5px 1%;
}

.btn-process {
  border-radius: 50px;
  height: 40px;
  background: linear-gradient(-135deg, rgb(73, 164, 255) 25%, rgb(0, 116, 231) 100%);
  box-shadow: rgba(0, 116, 231, 0.4) 0 10px 32px 0;
  color: white;
  border: 2px solid rgb(255 255 255 / 20%);
  transition: all 0.1s ease-in-out 0s;
}

#personList {
  border-radius: 8px;
  font-size: 20px;
  background-color: #f3eeee;
  margin: 20px 0px;
  padding: 10px 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Main Content Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#main-text {
  padding-top: 100px;
}

.gradient-bar {
  height: 1px;
  /* Adjust height as needed */
  background: linear-gradient(to right, rgb(53, 71, 233), rgba(0, 123, 255, 0));
}

.gradient-bar2 {
  height: 1px;
  background: linear-gradient(to right, rgb(53, 71, 233), rgba(0, 123, 255, 0));
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#main-content2 {
  padding: 30px;
  color: white;
  background-color: rgb(18, 21, 38);
  min-height: 80vh;
  position: relative;
  z-index: 101;
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#waves-container2 {
  position: relative;
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Scroll Bar Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Canvas Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 11;
  opacity: 0.7;
}

#main-content2 h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-ForF,
.img-networking {
  height: 250px;
}

.img-research {
  height: 300px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Animations */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#slide-up {
  animation: slideInUp .6s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#main-text,
#sub-text,
#additional-text {
  animation: slideInLeft .6s ease-out forwards;
}

#main-text h1,
#main-text p,
#additional-content p {
  animation: fadeIn 1s ease forwards;
}

@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }

  50% {
    text-shadow: 0 0 11px rgb(209, 203, 250), 0 0 60px rgba(185, 176, 241, 0.7);
  }

  100% {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
}

.pulse {
  animation: pulse-glow 2s infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Text and Heading Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#uni {
  text-decoration: none ;
  color: rgb(186, 188, 252);
}

#product-list, #cart-list{
  color: black;
}

#draggable,
#resizable {
  color: black;
}

#paragraph {
  height: 150px;
  width: 100%;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  box-sizing: border-box; 
}

#result {
  font-size: 16px;
  color: #333;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  height: 150px;
  width: 100%;
  overflow-y: auto;
}

.heading-container {
  z-index: 101 !important;
}

.heading-text {
  color: white;
  font-size: 46px;
  font-weight: bold;
  animation: pulse-glow 3s infinite;
  animation: slideUp 1s ease forwards;
}

.content-heading {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.heading-underline {
  width: 50px;
  height: 4px;
  background-color: #1e3debc9;
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.colored-bar {
  width: 5px;
  height: 24px;
  background-color: #1e3debc9;
  margin-right: 10px;
  border-radius: 4px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Header and Image Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.logo {
  width: 45px;
  height: 26px;
}

/* Avatar Image */
.avatar-img {
  position: absolute;
  top: -30px;
  right: 35px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* border-left: 0.2rem solid #1e3debc9; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Contact Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(25, 31, 55);
  box-shadow: rgba(0, 0, 0, .1) 0 10px 32px 0;
  transition: all 0.1s ease-in-out 0s;
  /* border-left: 2px solid #1e3debc9; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Rotating Card Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.rotating-card {
  width: 300px;
  height: 435px;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  animation: slideInLeft .6s ease-out forwards;
}


#card-heading {
  color: white;
}

.container, .row {
  overflow: visible;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  border-radius: 24px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  background-color: rgb(18, 21, 38);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img#card-head-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.profile-section {
  padding: 20px;
  flex: 1;
  text-align: center;
}

#pfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -70px;
  border: 2px solid white;
  object-fit: cover;
}

.profile-section h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profile-section p {
  font-size: 1rem;
  color: gray;
}

#card-footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(255 255 255 / 18%);
  background-color:rgb(30, 36, 68);
  position: relative;
}



#btn-flip,
#btn-flip-back {
  color: white;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn-flip:hover,
#btn-flip-back:hover {
  color: rgb(131, 123, 245);
}

.card-back {
  background: rgb(25, 31, 55);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back-content h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-back-content p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Footer Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  padding: 30px 0;
  color: #d4d4dc;
  font-size: 14px;
  border-top: 1px solid rgb(255 255 255 / 18%);
}

.footer h5 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-description {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-social-link {
  color: #d4d4dc;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer-social-link:hover {
  color: #7289da;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #8e8e9e;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer .text-md-right {
    text-align: center;
    margin-top: 20px;
  }

  .footer-social-link {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  #main-content {
    margin-top: 200px;
  }

  #main-text h1 {
    font-size: 28px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }
}

/* Flip Card */
