/* Demonstration of External Stylesheet */


/* Text alignment and font variables */
html,
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-image: url(imgs/leaves.jpg);
    background-size: 100px;
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
    margin: 50px;
    padding: 10px;
    text-align: center;
    border: dashed white 1px;
}

/* Main Container */
/* Text Wrapping */
.container {
    text-align: center;
    padding: 20px;
    background-color: black;
    white-space: wrap;
}

/* Font style and decorations */
h1 {
    letter-spacing: 3pt;
    color: hsl(212, 57%, 67%);
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px 15px blue;
}

/* Use of an ID to change a specific element and not all elements of the same type */
/* Also use of :hover tag that is self explanatory */
#heading3:hover {
    color: hsl(125, 100%, 50%);
}

/* Use of class to reference single paragraph element */
.paragraph1:hover {
    color: hsl(177, 90%, 61%);
}

/* Text indentation */
.indented {
    text-indent: 35px;
}

/* Text transformation */
.transformed {
    text-transform: uppercase;
}

/* Link styling */
a:link {
    font-size: 24px;
    color: rgb(37, 34, 236);
    padding: 20px;
}

a:visited {
    color: rgb(243, 72, 80);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 170);
}

/* List styling */
.list1 {
    list-style: circle;
}

.list2 {
    list-style-image: url(imgs/list_image.png);
}

/* Images */
img {
    width: 400px;
    height: 600px;
    opacity: 0.7;
    float: middle;
}

/* Centering Images */
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}